
.heroBox{
	display: flex;
	justify-content: flex-end;
}
.textBox{
	width: 60%;
	text-align: center;
	position: relative;
	margin: 0 auto;
}
.textBox p {
	line-height: 1.5em;
	font-size: 22px;
}
.shapeBox{
	width:  370px;
  position: absolute;
  -webkit-transform: translateY(-3.5rem) scale(.85) translateX(5rem);
  transform: translateY(-3.5rem) scale(.85) translateX(5rem);
	height: auto;	
}
.shapeBox img{
	position:  absolute;
}
.shapeBox img:nth-child(1){
	z-index: 2;
  right: 23%;
  top: 134px;
}
.shapeBox img:nth-child(2){
	z-index: 2;
	right: -60px;		
}
.shapeBox img:nth-child(3){
	z-index: 1;
  right: -42px;
  top: -74px;
	transform: scale(.75);
}

@media screen and (max-width: 1024px){
	.textBox{
		width: 100%;
		margin: 0 auto;
	}
	.shapeBox{
		width: 0;
	}
	.hero img{
		visibility: hidden;
	}
}