@import "../theme-variables.css";


.heroBox{
	display: flex;
	justify-content: space-between;
}
.textBox{
	width: 60%;
	text-align: center;
	position: relative;
}

.shapeBox{
	width:  458px;
	position:  relative;
	transform: translateY(-100px);
	height: auto;	
}

.shapeBox img{
	position:  absolute;
}
.shapeBox img:nth-child(1){
	z-index: 3;
	right:  33%;
	top: 50%;
}
.shapeBox img:nth-child(2){
	z-index: 2;
	right: 0;		
}
.shapeBox img:nth-child(3){
	z-index: 1;
	right: 0;
}