@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";

.slideWrap h2{
	margin-bottom: 0;
}
.slick-current{
	position: relative;
}
.slick-slide blockquote{
	max-width: 860px;
	width: 100%;
	margin: 0 auto;
	font-weight: 300;
	font-size: 22px;
	line-height: 150%;
	font-family: inter, sans-serif;
}
@media screen and (max-width: 500px){
	.slick-slide blockquote{
		font-size: 18px;
	}
}
.slick-slide .h4{
	letter-spacing: 0.1px;
	color: #A616D4;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	font-family: Inter;
	margin: 24px auto 0;
	text-align: center;
}
.slick-current::before{
	content: '\201C';
	font-family: sans-serif;
	font-size: 160px;
	position: absolute;
	top:40px;
	left: 8%;
	color: var(--theme-purple);
}
.slick-slide div{
	text-align: center;
	padding: 20px 0 20px;
}

.slick-list{
	padding-top: 50px;
}

.slick-prev::before{
	content: '\1F868';
}
.slick-next::before{
	content: '\1F86A';
}
.slick-prev::before, .slick-next::before{
	color: var(--theme-blue);
	font-size: 30px;
	opacity: 1;
	font-weight: 800;
}
.slick-prev,.slick-next{
	width: 30px;
}
.slick-dots li, .slick-dots li button{
	height: 25px;
	width: 25px;
}
.slick-dots li{
	margin: 0 10px;
}
.slick-dots li button::before{
	content: '';
	-moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;
  border: solid 5px var(--theme-blue);
  width: 25px;
  height: 25px;
  opacity: .75;
  margin: 0;
  padding: 0;
}
.slick-dots li button:focus::before, .slick-dots li button:hover::before{
	border-width: 6px;
}
.slick-dots li.slick-active button::before {
    opacity: .75;
    background-color: var(--theme-purple);
}

@media screen and (max-width: 750px){
	.slick-prev::before,.slick-next::before{
		visibility: hidden;
	}
}