.sliderWrapper {
  padding: 40px;
}
.sliderWrapper p {
  max-width: 860px;
}
.topWrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  column-gap: 5%;
  margin-bottom: 60px;
  flex-direction: row;
}
.topWrapper h3{
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -1.8px;
  width: 100%;
  max-width: 279px;
  margin: 0;
}

.topWrapper div{
  height: 80%;
  margin: auto 0;
  max-width: 250px;
  width: 100%;
}
.topWrapper img{
  width: 100%;
  margin: 0;
}
@media screen and (max-width: 1024px){
  .topWrapper{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }
  .topWrapper h3{
    max-width: 100%;
    font-size: 50px;
    margin-bottom: 20px;
  }
  .topWrapper div{
    max-width: 50%;
  }
}