@import "../theme-variables.css";

.whatSection{
	text-align: center;
	background: #F7F7F7;
}

.cardBox{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(465px, 1fr));
	column-gap: 84px;
	row-gap: 22px;
	padding: 40px 60px;
}


.trackEnd{
	box-shadow: 16px 16px 24px rgba(0, 0, 0, 0.12);
	border-radius: 15px;
	background: var(--theme-blue);
	padding:  55px 126px 65px;
	color: #fff;
	margin-top: 50px;
}
.trackEnd p{
	padding: 0 0 30px;
	font-size: 22px;
}
.trackEnd h2{
	color: #fff;
	padding-top: 10px;
	padding-bottom: 20px;
}

