.whatSection{
	text-align: center;
  background-color: #F7F7F7;
}
.whatSection > div {
	background: url("../../images/track-curve-end-alt.svg");
  background-repeat: no-repeat;
  background-position: 59% 39%;
  background-size: 217px;
}

.what{
  padding: 22px 65px 20px;
  max-width: 465px;
  width: 100%;
}
.what img{
  margin-bottom: 5px;
  margin-top: 5px;
  min-height: 55px;
}
.cardBox{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 84px;
	row-gap: 22px;
  padding: 40px 0 156px;
	justify-items: center;
	width: 100%;
	max-width: 1014px;
  margin: 0 auto;
}

.trackEnd{
	box-shadow: 16px 16px 24px rgba(0, 0, 0, 0.12);
	border-radius: 15px;
	padding:  55px 8% 65px;
	color: #fff;
	margin-top: 50px;
	background-color: var(--theme-blue);
	position: relative;
}

.trackEnd p{
	padding: 0 0 30px;
	font-size: 22px;
	margin: 0 auto;
	max-width: 860px;
	line-height: 1.5em;
	font-weight: 300;
}
.trackEnd h2{
	color: #fff;
	padding-top: 10px;
	padding-bottom: 20px;
	margin: 0 auto;
}
@media screen and (max-width: 850px){
	.whatSection > div {
		background: none;
	}
	.cardBox{
		grid-template-columns: 1fr;
	}
	.trackEnd{
		padding: 55px 0 65px;
	}
	.trackEnd p, .trackEnd h2{
		width: 80%;
	}
}