.whySection{
	position: relative;
	z-index: 3;
}
.flexBox{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 80px;

}
.pictureStack{
	margin: auto 0;
	align-items: flex-start;
	text-align: left;
	max-width: 672px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 60px;
	flex: 1 400px;
}
.pictureStack h2{
	margin-bottom: 0;
	width: 100%;
  text-align: left;
}

.pictureStack div{
	border-radius: 20px;
	overflow: hidden;
}
.pictureStack img{
	margin-bottom: 0;
}
.cardStack{
	max-width: 478px;
	width: 100%;
	gap: 21px;
	display: flex;
	flex-direction: column;
	z-index: 1;
}
@media screen and (min-width: 1170px){
	.cardStack:after{
		width: 31px;
	  height: 111%;
		background: url("../../images/track-vertical-1.svg") #343448;
		background-repeat: repeat;
		content: '';
		position: absolute;
	  right: 330px;
	  top: 108px;
	  z-index: 0;
	}
}
.cardStack > div {
	position: relative;
	z-index: 1;
}
.sideBox{
	position: relative;
	display: block;
	width: 40%;
	float: right;
}
.sideBox  img{
	position: absolute;
	z-index: 0;
	top: -40em;
	right: 0;
}