.hero{
	position: relative;
	margin-bottom: -65px;
}
.heroBox{
	display: flex;
	justify-content: flex-end;
}
.textBox{
	width: 100%;
	max-width: 730px;
	text-align: center;
	position: relative;
	margin:0 auto 90px;
}

.textBox p{
	padding: 0 5%;
	line-height: 1.5em;
	background: white;
	font-size: 22px;
}

.shapeBox{
	width:  370px;
	height: auto;	
  position: absolute;
  right: 59px;
  top: -10px;
}
.shapeBox img{
	position:  absolute;
}

.shapeBox img:nth-child(1){
	z-index: 2;
  right: 23%;
  top: 134px;
}
.shapeBox img:nth-child(2){
	z-index: 2;
	right: -60px;		
}
.shapeBox img:nth-child(3){
	z-index: 1;
  right: -42px;
  top: -74px;
	transform: scale(.75);
}

.storyWrapper{
	max-width: 707px;
	width: 100%;
	margin: 0 auto;
	z-index: 2;
	position: relative;
}
.storyWrapper span,
.storyWrapper mark{
	color: #A616D4;
}
.storyWrapper h2{
	text-align: left;
	line-height: 1.2em;
}
.storyWrapper p{
	margin: 0px 0 45px;
	background: white;
}
.shapeBox2{
	width:  370px;
	position:  absolute;
	height: 695px;
	left: 0;
	bottom: -45%;	
}
.shapeBox2 img{
	position:  absolute;
	top: 0;

}
.shapeBox2 img:nth-child(1){
	z-index: 1;
	top: 33%;
}
.shapeBox2 img:nth-child(2){
	z-index: -1;
	width: 255px;
}
.shapeBox2 img:nth-child(3){
	z-index: 1;
	top: 10%;
	width: 352px;
	right: 0;
}
@media screen and (max-width: 1024px){
	.shapeBox{
		width: 0;
	}
	.hero img{
		visibility: hidden;
	}
}