.whoWeAre{
	background:  linear-gradient(to bottom,#eeeeee 25%, #fff 30%);
	position: relative;
	margin-top: 204px;
}
.whoWeAre:before{
	content: "";
	background-image: url("../../images/bg-grey-blob.svg");
	background-repeat: no-repeat;
	position: absolute;
	top: -198px;
	width: 100%;
	height: 204px;
}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	transform: translateY(-60px);
	margin-bottom: 60px;
	gap: 40px;
}
.copyWrap{
	max-width: 560px;
	width: 100%;
}
.copyWrap div{
	border-radius: 15px;
}
.copyWrap img{
	margin-bottom: 0;
}
.copyWrap h2{
	text-align: left;
	margin-top: 40px;
}

.btnWrap{
	margin: 0 auto;
	width: fit-content;
}

.cardGrid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 24px;
	row-gap: 24px;
	transform: translateY(-25%);
}
.card{
	background: #FFFFFF;
	box-shadow: 16px 16px 24px rgba(0, 0, 0, 0.12);
	border-radius: 9px;
	max-width: 274px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 29px 30px 17px;
}
.card img{
	margin-bottom: 10px;
	min-height: 64px;
}
.card h3{
	margin-bottom: .5rem;
	margin-top: .5rem;
}
.greyBanner {
	background: #EEEEEE;
  margin-bottom: -275px;
}
.teamContainer {
	background: #fff;
	padding-top: 150px;
}
.container{
  max-width: 1288px;
  padding: 100px 20px 0;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1180px) {
	.cardGrid{
		transform: translateY(0);
		margin-bottom: 100px;
	}

}

@media screen and (max-width: 600px) {
	.cardGrid{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.row{
		gap: 20px;
	}
}