footer{
	background: var(--theme-blue);
	position: relative;
	overflow: hidden;
	z-index: -2;
	padding: 20px 0 60px;
}
.purpleIcon{
	max-width: 280px;
	width: 100%;
	max-height: 90px;
	margin: 0 0 -35px;
	display: inline-block;
}
.navCol{
	display: flex;
	justify-content: left;
	align-items: left;
	column-gap: 30px;
	row-gap: 60px;
	flex-wrap: wrap;
}
.navMenu{
	max-width: 206px;
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}

.navA{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
}
.contactUs{
	max-width: 266px;
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}
.contactUs *{
	color: #fff;
	margin: 0;
}
.contactUs h3{
	font-size: 22px;
	line-height: 27px;
	letter-spacing: -0.3px;
}
.contactUs p{
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 30px;
}

.copyRight{
	display: block;
	text-align: center;
	color: #fff;
	font-size: 15px;
	line-height: 17px;
	letter-spacing: -0.204545px;
	z-index: 1;
	position: absolute;
	bottom: 10px;
	left: 50%;
	font-variant-ligatures: ;
	transform: translateX(-50%);
}

.sideBox{
	display: flex;
  flex-direction: column;
  max-width: 400px;
  position: absolute;
  right: 80px;
  bottom: 20px;
}
.wrapper{
	position: relative;
}
.wrapper img{
	position: absolute;
	right: -100px;
	bottom: -20px;
	margin: 0;
	max-width:165%;
	z-index: -1;
}
.content{
	padding-right: 65px;
	line-height: 24px;
	position: relative;
}
.content h3::before{
	background-image: url("../images/circle.svg");
	background-size: 100%;
	content: "";
	position: absolute;
	top: -150%;
	right: -12.5%;
	width: 83.54px;
	height: 83.54px;
	z-index: 0;
}
.content h3{
	position: relative;
	max-width: 65%;
	margin-bottom: 5px;
	z-index: 1;
}
.email-signup {
  position: relative;
  vertical-align: top;
  z-index: 1;
}
.registerEmail{
  width: 312px;
  margin-right: 18px;
  border: solid 1px #9e9f9f;
  padding: 4px 12px;
  line-height: 1.5;
  font-size: 20px;
  font-family: Inter;
  margin-bottom: 20px;
}
.submitBtn{
	padding: 9px 20px 11px;
	background: #343449;
	border-radius: 27px;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 28px;
	font-family: Inter;
	border: 0;
}
.email-signup span{
	font-weight: 500;
  position: absolute;
  top: 19px;
  left: 16px;
}
@media screen and (max-width: 1000px){
	.wrapper img, .content h3::before{
		visibility: hidden;
	}
	.content h3{
		color: var(--theme-purple);
	}
	.sideBox{
		position: relative;
		left: 20px;
	}
	.submitBtn{
		background: var(--theme-purple);
	}
}
@media screen and (max-width: 580px){
	.sideBox{
		left: 0;
	}
	.content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		row-gap: 20px;
		padding: 0 10px;
	}
	.registerEmail{
	}
	.navMenu{
		max-width: fit-content;
		text-align: center;
		margin: 0 auto;
	}
	footer{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}