footer{
	background: var(--theme-blue);
	position: relative;
	overflow: hidden;
	z-index: 0;
	padding: 20px 0 60px;
}
footer iframe {
	box-shadow: 8px 10px 24px rgb(14, 14, 14, 90%);
}

.purpleIcon{
	max-height: 80px;
	margin: 0;
	display: inline-block;

}
.navFlex{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 60px;
	margin-bottom: -40px;
}
.navCol{
	display: flex;
	justify-content: left;
	align-items: left;
	column-gap: 30px;
	row-gap: 60px;
	flex-wrap: wrap;
	z-index: 2;
	position: relative;
}
.navMenu{
	max-width: 330px;
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	z-index: 3;
	position: relative;
}

.navA{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	z-index: 3;
	position: relative;
}
.navA:hover {
	color: #DA9DEE;
}
.contactUs{
	max-width: 266px;
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.contactUs *{
	color: #fff;
	margin: 0;
}
.contactUs a:hover {
	color: #DA9DEE;
}
.contactUs h3{
	font-size: 22px;
	line-height: 27px;
	letter-spacing: -0.3px;
}
.contactUs p{
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 30px;
}
.flexIcons{
	display: flex;
	justify-content: flex-start;
	gap: 40px;
}
.social{
	width: 31px;
	height: 31px;
}
.copyRight{
	display: block;
	text-align: left;
	color: #fff;
	font-size: 15px;
	line-height: 1.2;
	letter-spacing: -0.02em;
	z-index: 1;
	bottom: 10px;
	font-variant-ligatures: ;
	max-width: 1288px;
	margin: 0 auto;
	padding:  0 20px;
}

.sideBox{
	display: flex;
  flex-direction: column;
  max-width: 400px;
  position: absolute;
  right: 80px;
  bottom: 20px;
}
.wrapper{
	position: relative;
}
.wrapper img{
	position: absolute;
  right: -150px;
  bottom: -28px;
	margin: 0;
	max-width:165%;
	z-index: -1;
}
.content{
	padding-right: 65px;
	line-height: 24px;
	position: relative;
}
.content h3::before{
	background-image: url("../images/circle.svg");
	background-size: 100%;
	content: "";
	position: absolute;
	top: -150%;
	right: -12.5%;
	width: 83.54px;
	height: 83.54px;
	z-index: 0;
}
.content h3{
	position: relative;
	max-width: 65%;
	margin-bottom: 5px;
	z-index: 1;
}
.email-signup {
  position: relative;
  vertical-align: top;
  z-index: 1;
}
.registerEmail{
  width: 312px;
  margin-right: 18px;
  border: solid 1px #9e9f9f;
  padding: 4px 12px;
  line-height: 1.5;
  font-size: 20px;
  font-family: Inter;
  margin-bottom: 20px;
}
.submitBtn{
	padding: 9px 20px 11px;
	background: #343449;
	border-radius: 27px;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 28px;
	font-family: Inter;
	border: 0;
}
.email-signup span{
	font-weight: 500;
  position: absolute;
  top: 19px;
  left: 16px;
}

.signUp {
	background: #da9eee;
  border-radius: 57px 0 0 0px!important;
  margin-bottom: -26px;
}

@media screen and (max-width: 1200px){
	.navFlex{
		margin-bottom: -20px;
	}
	.wrapper img, .content h3::before{
		visibility: hidden;
	}
	.content h3{
		color: var(--theme-purple);
	}
	.sideBox{
		position: relative;
		left: 20px;
		padding-bottom: 40px;
	}
	.submitBtn{
		background: var(--theme-purple);
	}
}
@media screen and (max-width: 580px){
	.contactUs{
		text-align: center;
    margin: 0 auto;
  }
	.sideBox{
		left: 0;
	}
	.content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		row-gap: 20px;
		padding: 0 10px;
	}
	.flexIcons{
		justify-content: center;
	}
	.navMenu{
		max-width: fit-content;
		text-align: center;
		margin: 0 auto;
	}
	footer{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	footer iframe {
		margin-bottom: 20px;
	}
}